.homeContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.homeWrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #424242;
  width: 100%;
  height: 100vh;
  animation-name: slideUpAnimation; /* Reference the keyframe animation */
  animation-duration: 1s; /* Animation duration */
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1.3);
  z-index: 2;
}

.homeWrapper.animate {
  height: 0vh;
}

@keyframes slideUpAnimation {
  0% {
    height: 100vh; /* Start with full height */
  }
  5% {
    height: 99.5vh; /* Slightly slower start */
  }
  10% {
    height: 99vh; /* Gradual acceleration */
  }
  15% {
    height: 98.5vh; /* Faster acceleration */
  }
  20% {
    height: 98vh; /* Even faster acceleration */
  }
  25% {
    height: 97.5vh;
  }
  30% {
    height: 97vh;
  }
  100% {
    height: 0vh; /* End with zero height */
  }
}

.initialContent {
  background-color: #424242;
  z-index: 1;
  position: relative;
  height: 100vh;
}

.homeContent {
  background-color: #ffeedd;
  z-index: 1;
  position: relative;
  height: 100vh;
}

.socialBar {
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 1.5rem;
}

.socialItem {
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
}

.line {
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.25rem;
  background-color: #1a1818;
  height: 0.15rem;
}

.copywright {
  font-weight: 100;
  letter-spacing: 3px;
}

.homeText {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 1.5rem;
}

.homeHeader {
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.homeParagraph {
  font-size: 0.7rem;
  line-height: 1.3rem;
}

.homeNav {
  font-family: 'Fondamento', cursive;
  font-size: 3rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.navListItem {
  text-decoration: none;
  color: black;
}

.navListItem:hover {
  font-style: italic;
}

@media screen and (min-width: 375px) {
  .homeContent {
    height: 110vh;
  }

  .homeNav {
    font-size: 4rem;
  }
}

@media screen and (min-width: 425px) {
  .homeNav {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .homeContent {
    height: auto;
  }

  .homeText {
    padding-top: 12rem;
  }

  .socialBar {
    flex-direction: column;
    height: 100vh;
    width: 6%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
  }

  .socialItem {
    margin-bottom: 2rem;
    width: 4rem;
  }

  .line {
    width: 6rem;
  }

  .socialItem,
  .line {
    transform: rotate(-90deg);
  }

  .homeText {
    margin-top: 0;
  }

  .homeText,
  .homeNav {
    margin-left: 6rem;
  }

  .homeNav {
    font-size: 7rem;
  }
}
